
<div id="menutree" class="ui-menutree">

    <h1 class="menu-itemHeader menu-extension">图片管理</h1>
<div class="menu-itemCont">
    <ul>
        <li><a href="{=createUrl controller='item' action='view'=}">图片列表</a></li>
    </ul>
</div>
<h1 class="menu-itemHeader menu-extension">用户管理</h1>
<div class="menu-itemCont">
    <ul>
        <li><a href="{=createUrl controller='userinfo' action='view'=}">用户列表</a></li>
    </ul>
</div>
<h1 class="menu-itemHeader menu-extension">文章管理</h1>
<div class="menu-itemCont">
    <ul>
        <li><a href="{=createUrl controller='article' action='view'=}">文章列表</a></li>
    </ul>
</div>
<h1 class="menu-itemHeader menu-extension">评论管理</h1>
<div class="menu-itemCont">
    <ul>
        <li><a href="{=createUrl controller='comment' action='view'=}">评论列表</a></li>
    </ul>
</div>
<h1 class="menu-itemHeader menu-extension">音乐管理</h1>
<div class="menu-itemCont">
    <ul>
        <li><a href="{=createUrl controller='play' action='view'=}">音乐列表</a></li>
    </ul>
</div>
{=*后台菜单*=}
</div>
