<!DOCTYPE html>
<html>
<head>
    <title>初见博客</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <meta name="keywords" content="初见 初遇网 妹纸 美女 校花"/>
    <meta property="wb:webmaster" content="bfa312168408a5bc" />
    <meta name="description" content="鼓励妹纸上传自己的青春靓照，欢迎男同学大胆赞美欣赏的她。初见与微博打通，可以交友并互粉哦"/>
    <link href="/images/home/favicon.ico" type="image/x-icon" rel="shortcut icon"> 
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link href="/css/hope/home.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="/js/jquery.min.js"></script>     
    <script type="text/javascript" src="/js/hope/common.js"></script>    
</head>
<body>
{=include file="home/menu.html"=}
<div class="wraper">
    <div class="container" >
        <div class="item">
                
        </div>    
        <div id="main"></div>
        <div style="clear:both;"></div>
    </div>
</div>
{=include file="home/foot.html"=}
</body>
</html>
