<!DOCTYPE html>
<html>
<head>
    <title>记事本</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=""/>
    <link href="/images/hope/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link href="/css/hope/note.css" type="text/css" rel="stylesheet">  
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/hope/Note.js"></script>
</head> 
<body>
    <div id="note">
        <div class="Ci_toolbar">
            <div class="edu-box" id="bold">
                <div class="edu-for-bold edu-icon"></div>
            </div> 
            <div class="edu-box" id="underline">
                <div class="edu-for-underline edu-icon"></div>
            </div>
            <div class="edu-box" id="image">
                <div class="edu-for-image edu-icon"></div>
            </div>
        </div>
        <div class="Ci_content">
            <textarea></textarea> 
        </div>
    </div>
</body>
<script type="text/javascript">
    var config = {
        id  : 'note',
    };    
</script>
</html>
